@import "./flex.scss";

#board-cont {
  @extend .flex-col;
  @extend .flex-center;
  flex-grow: 1;

  width: 100%;
}

$grid-gap: 0.6em;

.board {
  display: grid;
  grid-gap: $grid-gap;
  box-sizing: border-box;

  padding: 20px;
  z-index: -1;
}

.board-row {
  display: grid;
  grid-gap: $grid-gap;
}

.letter-cont {
  width: 100%;
  height: 100%;

  @extend .flex-center;
}

.board-cell {
  border: 1px solid gray;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  // font-size: clamp(1em, 90%, 3em);
  // font-size: calc(min(2em, 90%));

  transition: height 0.2s;

  @extend .flex-col;
  @extend .flex-center;

  * {
    margin: 0;
    padding: 0;
  }

  &::before {
    content: attr(letter);
    position: absolute;
  }
}