@import "./flex.scss";

.keyboard {
  @extend .flex-col;
  @extend .flex-center;
  font-size: 1rem;
  margin: 1em;
  width: calc(min(490px, 90%));
}

.key-row {
  display: flex;
  justify-content: center;
  width: 90%;
  .key {
    height: 58px;
    padding: 1em 0.5em;
  }
}

.small-key-row {
  .key {
    padding: 0.5em 0.5em;
  }
}

$key-color: rgb(199, 199, 199);

.key {
  @extend .flex-center;
  flex: 1;
  color: rgb(41, 41, 41);
  background-color: $key-color;
  border: none;
  border-radius: 5px;
  margin: 0.2em;
  font-weight: bold;

  p {
    margin: 0;
  }

  &:active {
    background-color: darken($key-color, 30%);
  }

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.key-space {
  flex: 0.5;
}

.key-long {
  flex: 2;
}