$correct : rgb(97, 190, 85);
$wrong-spot : rgb(207, 219, 137);
$incorrect : gray;
$incorrect-key : rgb(82, 82, 82);

.loading {
  height: 0%;
}

.correct {
  border: none;
  background-color: $correct;
  color: white;
}

.wrong-spot {
  border: none;
  background-color: $wrong-spot;
  color: white;
}

.incorrect {
  border: none;
  background-color: $incorrect;
  color: white;
}

.correct-key {
  background-color: $correct;
  color: white;
}

.wrong-spot-key {
  background-color: $wrong-spot;
  color: white;
}

.incorrect-key {
  background-color: $incorrect-key;
  color: white;
}

@keyframes correct {
  40% {
    height: 0%;
  }

  60% {
    height: 0%;
    background-color: $correct;
    color: white;
    border: none;
  }
  100% {
    height: 100%;
    background-color: $correct;
    color: white;
  }
}

@keyframes wrong-spot {
  40% {
    height: 0%;
  }

  60% {
    height: 0%;
    background-color: $wrong-spot;
    color: white;
    border: none;
  }
  100% {
    height: 100%;
    background-color: $wrong-spot;
    color: white;
  }
}

@keyframes incorrect {
  40% {
    height: 0%;
  }

  60% {
    height: 0%;
    background-color: $incorrect;
    color: white;
    border: none;
  }
  100% {
    height: 100%;
    background-color: $incorrect;
    color: white;
  }
}