$correct : rgb(97, 190, 85);
$wrong-spot : rgb(207, 219, 137);
$incorrect : gray;
$incorrect-key : rgb(82, 82, 82);

.loading {
  height: 0%;
}

.correct {
  border: none;
  background-color: $correct;
  color: white;
}

.wrong-spot {
  border: none;
  background-color: $wrong-spot;
  color: white;
}

.incorrect {
  border: none;
  background-color: $incorrect;
  color: white;
}

.correct-key {
  background-color: $correct;
  color: white;
}

.wrong-spot-key {
  background-color: $wrong-spot;
  color: white;
}

.incorrect-key {
  background-color: $incorrect-key;
  color: white;
}

.jump {
  animation-name: tile-jump;
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}

@keyframes tile-jump {
  50% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(0);
  }
}