@import './flex.scss';

/* https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  @extend .flex-col;
  @extend .flex-center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  animation-name: slide-from-top;
  animation-duration: 0.2s;
  background-color: white;
  position: relative;

  display: inline-block;
  padding: 1em;
  box-sizing: border-box;
  width: calc(min(350px, 90vw));
}

@keyframes slide-from-top {
  from { transform: translateY(-2vh); }
  to { transform: translateY(0); }
}

#close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  
  &:hover {
    cursor: pointer;
  }
}

.stats-box {
  @extend .flex-col;
  justify-content: flex-start;
  flex: 1;
  font-weight: normal;
}

.stats-label {
  font-size: 2em;
  margin: 0.2em;
  font-weight: normal;
}

#countdown-label {
  margin: 0em;
  flex: 0.5;
}

$isma-blue: #00B4DF;

#share-btn {
  @extend .flex-row;
  @extend .flex-center;
  flex: 0.5;
  display: none;

  border: none;
  background-color: $isma-blue;
  color: white;

  font-size: 1.3em;
  height: 2em;
  padding: 1.5em 1.5em;
  border-radius: 0.5em;

  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: darken($isma-blue, 5%);
  }
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#share-section {
  justify-content: space-around;
  align-items: flex-start;
  padding: 0.2em 0;
}

.label-sm {
  margin-top: 0;
}