@import "./flex.scss";
@import "./spacing.scss";
@import "./board.scss";
@import "./keyboard.scss";
@import "./letter-status.scss";
@import "./popup.scss";
@import "./modal.scss";
@import "./globals.scss";

html, body {
  @extend .m0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#header {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @extend .m0;
  height: $header-height;
  // -webkit-box-shadow: 0px 5px 12px 4px #C3C3C3; 
  box-shadow: 0px 2px 6px #C3C3C3;
  background-color: white;

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0.5em;
  }

  .flex-row {
    padding: 0 1em;
  }
}

#app-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: auto;

  height: calc(100% - #{$header-height});
  width: calc(min(100vw));
}

.icon {
  cursor: pointer;
}